<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shojo_anime</title>
  </head>
  <body>
    dynamic content
<!--    <div th:if="${anime}"></div>-->
    <p th:text="${animeId.data.attributes.title.en}"></p>
    <img src="https://uploads.mangadex.org/covers/32d76d19-8a05-4db0-9fc2-e0b0648fe9d0/e90bdc47-c8b9-4df7-b2c0-17641b645ee1.jpg" alt="">
  </body>
</html>
